<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://gleasoncf.com/home.css">

    <title>The Gleason Consulting Firm</title>
  </head>
  <body>
<!-- Just an image -->
<div class="container w-auto">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://gleasoncf.com"><img src="CSS/Imgs/No_Background_logo.png"></a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="mainnav nav-item active">
        <a class="nav-link text-white" href="https://gleasoncf.com">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="mainnav nav-item text-white">
        <a class="nav-link text-white" href="aboutus.html">About Us</a>
      </li>
      <!-- <li class="mainnav nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Past Clients
        </a>
        <div class="mainnav dropdown-menu text-white" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="mainnav nav-item text-white">
        <a class="nav-link text-white" href="contactus.html">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<br>
<div class="container">
    <h1 class="border-bottom border-primary">Erik Gleason</h1>
    <div class="row">
      <div class="col-md-6">
        <img src="CSS/Imgs/12-08-17 Photo session_edited.png" class="img-fluid" alt="security camera on a building">
      </div>
      <br>
      <div class="col-md-6">
        <h3 class="profprof">Professional Profile:</h3>
        <h4>As a public safety professional with an extensive educational background in technology and surveillance, I have been the 
            project manager over several different public safety technology projects. These projects have consisted of designing and 
            managing the deployment of surveillance camera systems in public places ranging from large government complexes to public parks. 
            I have successfully created and managed public safety technology projects that have developed international attention due to the 
            creativity and functionality of the project as it relates to public safety. These projects have been used as models for other 
            government agencies throughout the United States.</h4>
      </div>
    </div>
    <br>
    <h3 class="profprof">Professional Experience:</h3>
    <div class="row">
        <div class="col-md-12">
          <h4>The Gleason Consulting Firm, Inc.  (2016 - Present)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <ul class="border-top border-primary">
               <li>Designed several different surveillance technology projects varying in size from large to small</li>
               <li>Provides professional opinions and ideas for clients on deploying public safety technology in a 
                   way that will maximize their investment for their objectives and goals</li>
           </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h4>The Miami Gardens Police Department (2007 - Present)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <ul class="border-top border-primary">
               <li>Manage the multi-million dollar budget for the Real Time Crime Center</li>
               <li>Manage the Real Time Crime Center and Crime Analysis Unit consisting of over 15 employees</li>
               <li>Oversee and manage the innovation and technology projects within the Police Department</li>
               <li>Promoted to Police Commander in January of 2019</li>
               <li>Member of the Capital Improvements Team for the City of Miami Gardens</li>
               <li>Member of the Smart City Initiative Team for the City of Miami Gardens</li>
               <li>Project Manager of the Real Time Crime Center project to include the conception of policies, staffing and daily workflows</li>
               <li>Interviewed applicants and staffed the Real Time Crime Center with sworn law enforcement detectives along with civilian Crime Analysts</li>
               <li>Supervised the daily operations of the Real Time Crime Center</li>
               <li>Promoted to Police Sergeant in January of 2014</li>
               <li>Patroled the City of Miami Gardens as a Patrol Officer</li>
           </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h4>The New York City Police Department (2002 - 2007)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <ul class="border-top border-primary border-lg">
               <li>Worked on the CompStat Team that was responsible for compiling crime statistics</li>
               <li>Patroled the City of New York as a Patrol Officer</li>
           </ul>
        </div>
    </div>
<br>
<h3 class="profprof">Educational Accomplishments:</h3>
<div class="row">
    <div class="col-lg-12">
      <h4>2017 - M.S., Project Management – Information Systems, Florida Institute of Technology, Melbourne, FL</h4>
    </div>
    <br>
    <div class="col-lg-12">
        <h4>2015 - M.B.A., Information Technology Management, Florida Institute of Technology, Melbourne, FL</h4>
    </div>
    <div class="col-lg-12">
        <h4>2012 - B.A., Criminal Justice, Florida Institute of Technology, Melbourne, FL</h4>
    </div>
</div>
<br>
<div class="border footer">
    <p>The Gleason Consulting Firm - 954.298.1670 - erik@gleasoncf.com</p>
</div>
</div>
<br>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>