<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://gleasoncf.com/home.css">

    <title>The Gleason Consulting Firm</title>
  </head>
  <body>
<div class="container w-auto">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://gleasoncf.com"><img src="CSS/Imgs/No_Background_logo.png"></a></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="mainnav nav-item active">
        <a class="nav-link text-white" href="https://gleasoncf.com">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="mainnav nav-item text-white">
        <a class="nav-link text-white" href="aboutus.html">About Us</a>
      </li>
      <!-- <li class="mainnav nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Past Clients
        </a>
        <div class="mainnav dropdown-menu text-white" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="mainnav nav-item text-white">
        <a class="nav-link text-white" href="contactus.html">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="container">
  <div class=" firstrow row">
    <div class="col-12">
      <h1 class="border-bottom title1">SECURITY CAMERA DESIGN AND CONSULTING</h1>
      <br>
      <h5>Need a professionally designed security camera system that will provide the maximum amount of protection for your business or residence? 
        We are here to make sure that your needs and safety are taken seriously. Security cameras increase the sense of safety while making the ill willed 
      think twice before commiting their acts of of defiance. Security cameras provide a sense of peace of mind that with today's technology can be accessed from 
     from anywhere in the world that has an internet connection. All of these reasons makes having a quality and well designed security cameras system a business
    decision that will benefit you for many years to come.</h5>
    <br>
    </div>
    </div>
  <div class=" firstrow row">
    <div class="col-md-5 col-xs-12">
        <img src="CSS/Imgs/AdobeStock_175032194.jpeg" class="img-fluid" alt="security camera on a building">
    </div>
      <div class="col-md-7 col-xs-12">
        <h4 class="anyone">Anyone Can Place Cameras Around a Site, But Only Experience Can Lead You To The Correct Deployment</h4>
        <br>
        <h5>The Gleason Consulting Firm has over 20 years of experience in public safety and security. The team members 
          of the Gleason Consulting Firm have lead projects of various sizes to become nationally recognized. With their 
          focus on the interoperability among the desperate pieces of security technology they have had success in creating 
          security centers that have become national models.</h5>
      <br>
      </div>
    </div>
   <br>
   <br>
    <h1 class="morethancam">Our Designs Can Include More Than Cameras. Ever Thought About Adding:</h1>
    <br>
    <div class="container">
      <h2 class="border-bottom"> VIDEO ANALYTICS</h2>
      <div class="insiderow row">
        <div class="col-md-8 col-xs-12">
          <h5>Video Analytics can mean the difference of identifying the subject or item of an investigation in a matter of seconds compared to a matter of minutes.
            Imagine having the capability of being able to narrow down hours of video into just seconds. Seeing just the color objects you need to see, or objects that moved in the 
            direction of travel that the subject moved, this can all icrease the likelyhood of identifying the subject of an investigation while saving hundreds of hours of investigative
            work hours. 
          </h5>
        <br>
        </div>
        <div class="col-md-4 col-xs-12"> 
          <div class ="ptzimg">
            <img src="CSS/Imgs/AdobeStock_322038238.jpeg" class="img-fluid" alt="security camera on a building">
          </div>
        </div>
      </div>
      <br>
      <h2 class="border-bottom"> LICENSE PLATE READERS</h2>
      <div class="insiderow row">
        <div class="col-md-4 col-xs-12">
          <div class ="ptzimg">
            <img src="CSS/Imgs/AdobeStock_321148488.jpeg" class="img-fluid" alt="security camera on a building">
          </div>
        </div>
          <br>
          <div class="col-md-8 col-xs-12">
            <h5>License plate readers can capture the license plates of vehicles entering and exiting your property. These vehicles 
              can be tied to databases that house the information to residents, clients, VIP’s, and of course used for any investigative 
              matter that may occur on your property. The license plate readers can also be shared with your local authorities for them to 
              be alerted to stolen vehicles that may enter your property at any given time.</h5>
          </div>
      </div>
      <br>
        <h2 class="border-bottom">REAL TIME CRIME CENTERS / SECURITY CONTROL ROOMS</h2>
        <div class="insiderow row">
          <div class="col-md-7 col-xs-12">
            <h5>Real Time Crime Centers have become the new hot item for law enforcement departments across the Country. 
              Real Time Crime Centers allow for desperate law enforcement technologies to come together into one location for 
              quick analysis and action. The quick actionable intelligence that is received and disseminated in an efficient manner 
              to the personnel in the field has led to significant decreases in crime. Agencies that have adopted Real Time Crime Centers 
              have seen significant returns on investment with their implementation decisions on these advanced technological centers.</h5>
          <br>
          </div>
          <div class="col-md-5 col-xs-12"> 
            <div class ="ptzimg">
              <img src="CSS/Imgs/rtcc copy.jpg" class="img-fluid" alt="security camera on a building">
            </div>
          </div>
        </div>
        <br>
      <div class="border footer">
          <p>The Gleason Consulting Firm - 954.298.1670 - erik@gleasoncf.com</p>
      </div>
      <br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>