<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>CodingDojo Wall</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand">CodingDojo Wall</h1>
        <form class="form-inline my-2 my-lg-0">
            <a href="/logout" class="form-control mr-sm-2"> Log Out</a>
        </form>
        </div>
    </nav>
    <div id="header">
        <h2>Welcome, {{request.session.name}}</h2>
    </div>
    <div id="wall">
        <h1>Wall</h1>
        <form id="create_mes" action="/messages" method="post">
            {% csrf_token %}
            <textarea name="content" id="" cols="140" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
        {% for message in all_messages %}
        <div class="message">
            <h6><a href="/profile/{{message.owner.id}}">{{message.owner.fname}}</a></h6>
            <p>{{message.content}}</p>
            <p>{{message.created_at}}</p>
            <p><a href="/delete/{{message.id}}"> Delete</a></p>
            <form id="comment" action="/comment/{{message.id}}" method="post">
                {% csrf_token %}
                <textarea name="content" id="" cols="125" rows="3"></textarea>
                <input type="submit" value="Post">
            </form>
            <h4>Comments:</h4>
            {% for comment in message.comments.all %}
            <div id="comments">
                <h6>{{comment.poster.fname}}</h6>
                <p>{{comment.content}}</p>
                <p>{{comment.created_at}}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <!-- <form action="/delete" method="get">
         
        </form> -->
    </div>
</body>

</html>