p {
    display: inline-table;
    width: 75px;
    margin-top: 5px;
    margin-left: 12px;
}
input{
    width: 386px;
    display: inline-table;
    margin-left: 20px;
}
textarea.form-control{
    display: inline-table;
    width: 384px;
    margin-left: 10px;
}

.addbtn{
    margin-left: 400px;
    margin-top: 10px;
    padding: 5px 25px 5px 25px;
}


.h2, h2{
    margin-left: 94px;
}

.row {
    margin-right: 100px;
}