h1 {
    color: blue
}
#wrapper {
    width: 450px;
    height: 290px;
    margin: 70px;
    border: 5px solid black;
}
textarea {
    vertical-align: top;
    display: inline-block;
}

form{
    width: 200px;
}
